.header {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    align-items: center;
    padding: 20px 10px;
}

.username {
    padding: auto 5px;
    color: var(--tg-theme-text-color);
}