.product {
    display: grid;
    /* display: flex;
    flex-direction: column; */
    border-radius: 10px;
    box-shadow: 0px 0px 5px var(--tg-theme-button-color);
    padding: 15px;
    width: 170px;
    grid-template-rows: 100px auto 50px;
    grid-gap: 10px;
}


.img {
    width: 100%;
    background: lightgray;
    height: 100px;
    /* margin-bottom: 10px; */
}

.title {
    margin-bottom: 5px;
}

.description {
    /* margin-bottom: 10px; */
    font-size: 0.8em;
}

.price {
    font-size: 0.8em;
}

.price-number {
    font-size: 1em;
}

.add-btn {
    width: 100%;
}